## Tasca 5. Exploració de les dades

### Exercici 1
Descarrega el data set [Airlines Delay: Airline on-time statistics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import pandas as pd
import numpy as np


import os

In [32]:
file = 'data/DelayedFlights.csv'

types = {'DepTime':str, 'CRSDepTime':str, 'ArrTime':str, 'CRSarrTime':str,
        'ActualElapsedTime': str}
delays = pd.read_csv(file, dtype=types)

In [33]:
delays.columns = [ 'ind', *delays.columns[1:]]

In [34]:
delays.head()

,ind,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

#### Dades

- **Computerized Reservations Systems (CRS).** 
[Descripció dels camps](https://www.transtats.bts.gov/Fields.asp?Cur_Row=-89&Cur_Col=&apply_rate=&sort_column=&Search_Lookup=&find=&sort_order=)

In [35]:
delays.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   ind                1936758 non-null  int64
 1   Year               1936758 non-null  int64
 2   Month              1936758 non-null  int64
 3   DayofMonth         1936758 non-null  int64
 4   DayOfWeek          1936758 non-null  int64
 5   DepTime            1936758 non-null  object
 6   CRSDepTime         1936758 non-null  object
 7   ArrTime            1929648 non-null  object
 8   CRSArrTime         1936758 non-null  int64
 9   UniqueCarrier      1936758 non-null  object
 10  FlightNum          1936758 non-null  int64
 11  TailNum            1936753 non-null  object
 12  ActualElapsedTime  1928371 non-null  object
 13  CRSElapsedTime     1936560 non-null  float64
 14  AirTime            1928371 non-null  float64
 15  ArrDelay           1928371 non-null  float64
 16  DepDelay           1936758 non-null  float64
 17  Origin             1936758 non-null  object
 18  Dest               1936758 non-null  object
 19  Distance           1936758 non-null  int64
 20  TaxiIn             1929648 non-null  float64
 21  TaxiOut            1936303 non-null  float64
 22  Cancelled          1936758 non-null  int64
 23  CancellationCode   1936758 non-null  object
 24  Diverted           1936758 non-null  int64
 25  CarrierDelay       1247488 non-null  float64
 26  WeatherDelay       1247488 non-null  float64
 27  NASDelay           1247488 non-null  float64
 28  SecurityDelay      1247488 non-null  float64
 29  LateAircraftDelay  1247488 non-null  float64
dtypes: float64(11), int64(10), object(9)
memory usage: 443.3+ MB

In [36]:
delays.isnull().sum()[delays.isnull().sum() != 0]

ArrTime                7110
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
TaxiIn                 7110
TaxiOut                 455
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

### Exercici 2
Fes un informe complet del data set:.

Resumeix estadísticament les columnes d’interès
Troba quantes dades faltants hi ha per columna
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
Taula de les aerolínies amb més endarreriments acumulats
Quins són els vols més llargs? I els més endarrerits?
Etc.

### Exercici 3
Exporta el data set net i amb les noves columnes a Excel.