# Tasca de web scraping
**Descripció**
Aprèn a realitzar web scraping.

## Nivell 1
### Exercici 1
Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es).

In [4]:
import bs4 

from selenium.webdriver import Safari
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException


import pandas as pd

In [5]:
url = 'https://www.bolsamadrid.es'

In [6]:
driver = Safari()

In [7]:
driver.get(url)

In [8]:
acciones = driver.find_elements_by_xpath('//*[@id="MenuIzq"]/div[1]/div[4]/div/div')


acciones[0].click()

driver.current_url

'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000'

In [11]:
soup = bs4.BeautifulSoup(driver.page_source, 'html.parser')

taula = soup.find_all('table')[-1]

columnes = [c.text for c in taula.find_all('th')]
columnes.append('link')

list_files = []
for f in taula.find_all('tr'):
    col = [c.text for c in f.find_all('td')]
    href = f.find('a')
#     print(href)
    if len(col) > 0:
        href = href.get_attribute_list('href')
#         print(url+href[0])
        col.append(url+href[0])
        list_files.append(col)
 


df = pd.DataFrame(list_files, columns=columnes)

In [12]:
df

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora,link
0,ACCIONA,"127,2000","1,92","127,6000","123,9000",58.488,"7.385,07",07/07/2021,16:26:12,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
1,ACERINOX,"10,3000","0,98","10,3950","10,1550",597.139,"6.145,40",07/07/2021,16:27:03,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
2,ACS,"22,4400","-1,79","23,1400","22,3700",413.262,"9.341,89",07/07/2021,16:27:08,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
3,AENA,"140,7500","-0,71","143,8000","140,7500",43.228,"6.133,65",07/07/2021,16:26:39,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
4,ALMIRALL,"15,0900","-0,07","15,1200","14,9700",111.897,"1.685,67",07/07/2021,16:24:14,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
5,AMADEUS,"58,8400","-0,91","60,1800","58,7400",184.581,"10.934,76",07/07/2021,16:26:45,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
6,ARCELORMIT.,"25,5700","0,53","25,9500","25,2750",293.554,"7.526,55",07/07/2021,16:26:59,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
7,B.SANTANDER,"3,1160","-1,45","3,1855","3,1120",18.565.992,"58.348,93",07/07/2021,16:27:08,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
8,BA.SABADELL,"0,5564","1,05","0,5680","0,5532",15.293.011,"8.580,92",07/07/2021,16:26:59,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
9,BANKINTER,"4,1340","-1,15","4,2190","4,1290",823.316,"3.432,83",07/07/2021,16:27:07,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
10,BBVA,"5,1710","-2,14","5,3060","5,1700",9.152.443,"47.893,58",07/07/2021,16:27:09,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
11,CAIXABANK,"2,5000","-1,03","2,5620","2,4900",6.573.073,"16.541,42",07/07/2021,16:27:05,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
12,CELLNEX,"55,2800","1,28","55,4800","54,4400",524.616,"28.905,01",07/07/2021,16:27:07,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
13,CIE AUTOMOT.,"25,4600","0,16","25,6600","25,2200",72.438,"1.842,97",07/07/2021,16:26:36,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
14,ENAGAS,"18,6800","0,27","18,7300","18,5200",2.323.102,"43.355,87",07/07/2021,16:25:58,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
15,ENDESA,"21,4900","2,09","21,4900","21,0800",3.274.326,"69.293,42",07/07/2021,16:26:42,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
16,FERROVIAL,"25,7600","0,86","26,0300","25,5600",372.922,"9.655,24",07/07/2021,16:26:11,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
17,FLUIDRA,"35,2500","1,15","35,3500","34,4000",164.371,"5.725,88",07/07/2021,16:26:13,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
18,GRIFOLS CL.A,"22,1200","-1,25","22,4000","22,0800",148.524,"3.297,61",07/07/2021,16:25:45,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
19,IAG,"2,1080","-3,52","2,2110","2,1050",11.745.557,"25.190,62",07/07/2021,16:26:26,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
20,IBERDROLA,"10,7350","1,56","10,7450","10,5250",4.301.297,"45.754,78",07/07/2021,16:26:41,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
21,INDITEX,"29,7300","0,10","29,8900","29,6200",934.420,"27.795,96",07/07/2021,16:27:08,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
22,INDRA A,"7,8250","-0,25","7,8950","7,7450",417.795,"3.265,23",07/07/2021,16:25:29,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
23,INM.COLONIAL,"8,9500","0,73","9,0300","8,8700",199.208,"1.781,38",07/07/2021,16:26:51,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
24,MAPFRE,"1,7740","0,06","1,7860","1,7650",832.397,"1.475,21",07/07/2021,16:25:53,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
25,MELIA HOTELS,"6,3700","-2,57","6,5700","6,3660",498.469,"3.220,79",07/07/2021,16:26:06,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
26,MERLIN,"9,1480","0,26","9,2040","9,0580",104.487,"953,85",07/07/2021,16:26:03,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
27,NATURGY,"22,0400","0,32","22,0600","21,8700",211.673,"4.658,58",07/07/2021,16:26:02,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
28,PHARMA MAR,"77,8000","0,13","77,9800","76,2800",43.514,"3.354,02",07/07/2021,16:27:07,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
29,R.E.C.,"15,7850","1,02","15,8050","15,6350",530.397,"8.342,14",07/07/2021,16:26:04,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
30,REPSOL,"9,8980","-1,49","10,3240","9,8800",4.638.597,"46.483,04",07/07/2021,16:27:02,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
31,SIEMENS GAME,"28,1600","-1,26","28,9200","28,0800",340.149,"9.692,15",07/07/2021,16:27:09,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
32,SOLARIA,"17,0300","3,78","17,0750","16,0600",912.275,"15.322,96",07/07/2021,16:26:10,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
33,TELEFONICA,"3,7815","-0,79","3,8315","3,7605",6.457.312,"24.456,00",07/07/2021,16:27:06,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
34,VISCOFAN,"59,6000","0,59","59,7000","58,7500",17.902,"1.060,34",07/07/2021,16:26:04,https://www.bolsamadrid.es/esp/aspx/Empresas/F...

In [35]:
valor = 'VISCOFAN'
df.loc[df.Nombre == valor, 'link']

34    https://www.bolsamadrid.es/esp/aspx/Empresas/F...
Name: link, dtype: object

In [36]:
def company_data(link):
    return pd.read_html(link, flavor='bs4')[-3]

company_data(df.query('Nombre == @valor').link.values[0])

,Unnamed: 0,2021 hasta el 6/07,2020,2019,2018,2017
0,NaN,2021 hasta el 6/07,2020,2019,2018,2017
1,Capitalización *(Miles de Euros),2.755.125,2.699.325,2.190.150,2.242.569,2.563.669
2,Nº de acciones (x 1.000),46.500,46.500,46.500,46.604,46.604
3,Precio cierre período (euros),592500,580500,471000,481200,550100
4,Último precio período (euros),592500,580500,471000,481200,550100
5,Precio máximo período (euros),609000,643500,565500,662000,563300
6,Precio mínimo período (euros),550500,432800,401200,462000,467500
7,Volumen (miles de acciones),10.837,28.352,25.854,29.807,38.658
8,Efectivo (miles de euros),630.258,1.562.424,1.230.832,1.669.116,1.995.212

In [23]:
pd.read_html(df.loc[df.Nombre == valor, 'link'].values[0], flavor='bs4')[-3]

,Unnamed: 0,2021 hasta el 6/07,2020,2019,2018,2017
0,NaN,2021 hasta el 6/07,2020,2019,2018,2017
1,Capitalización *(Miles de Euros),21.489.441,17.290.780,32.331.404,38.105.054,42.186.070
2,Nº de acciones (x 1.000),5.638.054,5.328.438,5.192.132,5.192.132,5.192.132
3,Precio cierre período (euros),38115,32450,62270,73390,81250
4,Último precio período (euros),38115,32450,62270,73390,81250
5,Precio máximo período (euros),42080,65700,79000,85990,106300
6,Precio mínimo período (euros),32390,27110,58610,65920,81000
7,Volumen (miles de acciones),2.361.858,6.180.647,5.636.696,6.559.817,6.878.426
8,Efectivo (miles de euros),9.147.218,25.760.520,39.769.484,50.181.337,64.449.488

## Nivell 2
### Exercici 2
Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

## Nivell 3
### Exercici 3

Tria una página web que tu vulguis i realitza web scraping mitjançant la llibreria Scrapy.