# Tasca de web scraping
**Descripció**
Aprèn a realitzar web scraping.

## Nivell 1
### Exercici 1
Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es).

In [6]:
import bs4 

from selenium.webdriver import Safari
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

import time

import pandas as pd

In [7]:
url = 'https://www.bolsamadrid.es'

In [8]:
driver = Safari()

In [9]:
driver.get(url)

In [10]:
acciones = driver.find_elements_by_xpath('//*[@id="MenuIzq"]/div[1]/div[4]/div/div')


acciones[0].click()

driver.current_url
time.sleep(2)

In [11]:
soup = bs4.BeautifulSoup(driver.page_source, 'html.parser')

taula = soup.find_all('table')[-1]

columnes = [c.text for c in taula.find_all('th')]
columnes.append('link')

list_files = []
for f in taula.find_all('tr'):
    col = [c.text for c in f.find_all('td')]
    href = f.find('a')
#     print(href)
    if len(col) > 0:
        href = href.get_attribute_list('href')
#         print(url+href[0])
        col.append(url+href[0])
        list_files.append(col)
 


df = pd.DataFrame(list_files, columns=columnes)

In [12]:
df

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora,link
0,ACCIONA,"127,0000","1,03","127,6000","124,8000",86.403,"10.966,44",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
1,ACERINOX,"10,3400","-0,86","10,5500","10,2500",750.649,"7.799,01",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
2,ACS,"21,5100","-0,32","21,9300","21,2400",616.336,"13.270,21",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
3,AENA,"133,8500","1,86","134,2000","131,8000",115.082,"15.364,30",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
4,ALMIRALL,"14,3200","-1,51","14,5700","14,2000",330.089,"4.734,87",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
5,AMADEUS,"55,0600","0,77","56,2600","54,4000",1.074.027,"59.308,79",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
6,ARCELORMIT.,"25,4750","-3,54","26,5600","25,1500",544.549,"13.944,65",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
7,B.SANTANDER,"3,0380","-2,66","3,1550","3,0080",33.908.748,"103.701,10",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
8,BA.SABADELL,"0,5272","-4,04","0,5570","0,5228",26.907.100,"14.312,30",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
9,BANKINTER,"4,2130","-1,66","4,3550","4,2000",2.172.924,"9.211,32",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
10,BBVA,"5,0900","-2,04","5,2450","5,0430",13.601.713,"69.630,10",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
11,CAIXABANK,"2,4420","-2,48","2,5350","2,4280",8.895.357,"21.859,96",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
12,CELLNEX,"53,8000","0,60","54,1200","53,0200",837.738,"44.868,71",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
13,CIE AUTOMOT.,"24,5800","-1,99","25,1200","24,5000",132.831,"3.286,15",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
14,ENAGAS,"18,3050","0,05","18,4500","18,2300",716.209,"13.119,40",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
15,ENDESA,"20,6800","0,34","20,8100","20,5000",826.648,"17.083,53",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
16,FERROVIAL,"24,7800","0,90","25,1200","24,5000",1.189.982,"29.433,25",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
17,FLUIDRA,"34,5000","-2,68","35,5000","33,7500",550.709,"18.917,41",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
18,GRIFOLS CL.A,"20,7000","0,44","20,7900","20,5100",528.843,"10.933,71",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
19,IAG,"1,9630","1,11","2,0090","1,9325",16.911.170,"33.325,58",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
20,IBERDROLA,"10,2950","0,64","10,3400","10,2100",10.259.981,"106.156,89",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
21,INDITEX,"28,0900","1,41","28,3500","27,5700",4.431.120,"124.802,89",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
22,INDRA A,"7,4600","0,13","7,5800","7,4000",403.717,"3.019,88",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
23,INM.COLONIAL,"8,6600","1,17","8,7300","8,5200",639.892,"5.524,78",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
24,MAPFRE,"1,7430","-0,71","1,7745","1,7340",2.315.089,"4.054,91",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
25,MELIA HOTELS,"5,8060","1,86","5,8900","5,6760",988.061,"5.721,22",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
26,MERLIN,"9,1280","1,60","9,1920","9,0000",634.615,"5.778,40",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
27,NATURGY,"22,1800","0,09","22,2900","22,0300",439.187,"9.731,85",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
28,PHARMA MAR,"75,2200","2,59","75,6200","72,9200",68.443,"5.111,53",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
29,R.E.C.,"16,0000","0,66","16,0000","15,8800",1.674.745,"26.766,13",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
30,REPSOL,"9,1640","-1,73","9,4150","9,0570",12.462.078,"115.514,90",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
31,SIEMENS GAME,"22,0200","-2,09","22,5500","21,6700",2.709.447,"59.691,59",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
32,SOLARIA,"16,1800","-0,68","16,4900","16,0500",592.619,"9.612,88",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
33,TELEFONICA,"3,7155","0,68","3,7235","3,6715",9.699.775,"35.899,45",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...
34,VISCOFAN,"57,0500","0,09","57,4500","56,7500",40.563,"2.312,89",16/07/2021,Cierre,https://www.bolsamadrid.es/esp/aspx/Empresas/F...

In [13]:
valor = 'VISCOFAN'
df.loc[df.Nombre == valor, 'link']

34    https://www.bolsamadrid.es/esp/aspx/Empresas/F...
Name: link, dtype: object

In [14]:
def company_data(link):
    return pd.read_html(link, flavor='bs4')[-3]

company_data(df.query('Nombre == @valor').link.values[0])

,Unnamed: 0,2021 hasta el 16/07,2020,2019,2018,2017
0,NaN,2021 hasta el 16/07,2020,2019,2018,2017
1,Capitalización *(Miles de Euros),2.652.825,2.699.325,2.190.150,2.242.569,2.563.669
2,Nº de acciones (x 1.000),46.500,46.500,46.500,46.604,46.604
3,Precio cierre período (euros),570500,580500,471000,481200,550100
4,Último precio período (euros),570500,580500,471000,481200,550100
5,Precio máximo período (euros),609000,643500,565500,662000,563300
6,Precio mínimo período (euros),550500,432800,401200,462000,467500
7,Volumen (miles de acciones),11.234,28.352,25.854,29.807,38.658
8,Efectivo (miles de euros),653.523,1.562.424,1.230.832,1.669.116,1.995.212

In [16]:
pd.read_html(df.loc[df.Nombre == valor, 'link'].values[0], flavor='bs4')[-3]

,Unnamed: 0,2021 hasta el 16/07,2020,2019,2018,2017
0,NaN,2021 hasta el 16/07,2020,2019,2018,2017
1,Capitalización *(Miles de Euros),2.652.825,2.699.325,2.190.150,2.242.569,2.563.669
2,Nº de acciones (x 1.000),46.500,46.500,46.500,46.604,46.604
3,Precio cierre período (euros),570500,580500,471000,481200,550100
4,Último precio período (euros),570500,580500,471000,481200,550100
5,Precio máximo período (euros),609000,643500,565500,662000,563300
6,Precio mínimo período (euros),550500,432800,401200,462000,467500
7,Volumen (miles de acciones),11.234,28.352,25.854,29.807,38.658
8,Efectivo (miles de euros),653.523,1.562.424,1.230.832,1.669.116,1.995.212

In [17]:
tempdf = pd.read_html(df.loc[df.Nombre == valor, 'link'].values[0], flavor='bs4')[-3]

In [21]:
tempdf.drop(index=0, inplace=True)

In [25]:
tempdf.columns = ['indicador', *tempdf.columns[1:]]

In [28]:
tempdf.melt(id_vars=['indicador'])

                           indicador             variable      value
0   Capitalización *(Miles de Euros)  2021 hasta el 16/07  2.652.825
1           Nº de acciones (x 1.000)  2021 hasta el 16/07     46.500
2      Precio cierre período (euros)  2021 hasta el 16/07     570500
3      Último precio período (euros)  2021 hasta el 16/07     570500
4      Precio máximo período (euros)  2021 hasta el 16/07     609000
5      Precio mínimo período (euros)  2021 hasta el 16/07     550500
6        Volumen (miles de acciones)  2021 hasta el 16/07     11.234
7          Efectivo (miles de euros)  2021 hasta el 16/07    653.523
8   Capitalización *(Miles de Euros)                 2020  2.699.325
9           Nº de acciones (x 1.000)                 2020     46.500
10     Precio cierre período (euros)                 2020     580500
11     Último precio período (euros)                 2020     580500
12     Precio máximo período (euros)                 2020     643500
13     Precio mínimo período (euros)                 2020     432800
14       Volumen (miles de acciones)                 2020     28.352
15         Efectivo (miles de euros)                 2020  1.562.424
16  Capitalización *(Miles de Euros)                 2019  2.190.150
17          Nº de acciones (x 1.000)                 2019     46.500
18     Precio cierre período (euros)                 2019     471000
19     Último precio período (euros)                 2019     471000
20     Precio máximo período (euros)                 2019     565500
21     Precio mínimo período (euros)                 2019     401200
22       Volumen (miles de acciones)                 2019     25.854
23         Efectivo (miles de euros)                 2019  1.230.832
24  Capitalización *(Miles de Euros)                 2018  2.242.569
25          Nº de acciones (x 1.000)                 2018     46.604
26     Precio cierre período (euros)                 2018     481200
27     Último precio período (euros)                 2018     481200
28     Precio máximo período (euros)                 2018     662000
29     Precio mínimo período (euros)                 2018     462000
30       Volumen (miles de acciones)                 2018     29.807
31         Efectivo (miles de euros)                 2018  1.669.116
32  Capitalización *(Miles de Euros)                 2017  2.563.669
33          Nº de acciones (x 1.000)                 2017     46.604
34     Precio cierre período (euros)                 2017     550100
35     Último precio período (euros)                 2017     550100
36     Precio máximo período (euros)                 2017     563300
37     Precio mínimo período (euros)                 2017     467500
38       Volumen (miles de acciones)                 2017     38.658
39         Efectivo (miles de euros)                 2017  1.995.212

## Nivell 2
### Exercici 2
Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

![bolsa de Madrid](https://www.bolsamadrid.es/images/Base/LogoBMadrid.gif)

### Context

### Content

'Nombre', 
'Últ.', '% Dif.', 
'Máx.', 
'Mín.', 
'Volumen',
'Efectivo (miles €)', 
'Fecha', 
'Hora', 
'link'

### Acknowedgements

### Inspiration

## Nivell 3
### Exercici 3

Tria una página web que tu vulguis i realitza web scraping mitjançant la llibreria Scrapy.

In [1]:
# import pandas as pd

import scrapy
from scrapy.crawler import CrawlerProcess

import logging
import pathlib
import re

Extraurem dades de la web de [idealista](https://www.idealista.com)

Extraurem del llistat de vivendes en venta a Barcelona ciutat. Extraurem una sèrie de pàgines (farem requests de les següents pàgines).
Tot i guardar el link de l'inmoble, no hi entrarem)

In [2]:
class Vivienda(scrapy.Item):
    links = scrapy.Field()
    precio = scrapy.Field()
    precio_ant = scrapy.Field()
    nombre = scrapy.Field()
    desc = scrapy.Field()
    habitaciones = scrapy.Field()
    superficie = scrapy.Field()
    otros = scrapy.Field()

In [3]:
class IdeaSpider(scrapy.Spider):
    name = "idealista"
    start_urls = [
        'https://www.idealista.com/venta-viviendas/barcelona-barcelona/',
    ]
    
    custom_settings = {
        'LOG_LEVEL': logging.WARNING,
        'CLOSESPIDER_PAGECOUNT': 3,
        'DOWNLOAD_DELAY' : 15,
        'FEEDS': {
                    'venta_viviendas.json': {
                        'format': 'json',
                        'encoding': 'utf8',
                        'store_empty': False,
                        'fields': None,
                        'indent': 4,
                        'item_export_kwargs': {
                           'export_empty_fields': False,
                        },
                      },                    
                    }
        }

    
    def parse(self, response):
        
        for vivienda in response.xpath('//*[@id="main-content"]/section[1]/article'):
  
            # comprovem que no sigui un anunci
    
            if vivienda.attrib['class'] != 'adv noHover':
                viv = Vivienda()

                viv['links'] = vivienda.xpath('.//div/a/@href').getall()
                viv['precio'] = ''.join(re.findall(r'\d+', vivienda.xpath('.//span [@class="item-price h2-simulated"]/text()').get()))
                if vivienda.xpath('.//span [@class="pricedown_price"]/text()').get():
                    viv['precio_ant'] = ''.join(re.findall(r'\d+', vivienda.xpath('.//span [@class="pricedown_price"]/text()').get()))
                viv['nombre'] = vivienda.xpath('.//div[@class="item-info-container"]/a/@title').get()

                for det, car in zip(vivienda.xpath('.//span [@class="item-detail"]/text()').getall(),
                                    vivienda.xpath('.//span [@class="item-detail"]/small/text()').getall()):
                    if 'hab.' in car:
                        viv['habitaciones'] = int(det)
                    elif 'm²' in car:
                        viv['superficie'] = int(det)
                    else:
                        viv['otros'] = "".join([det, car])

                viv['desc'] = vivienda.xpath('.//div[@class="item-description description"]/p//text()').get().strip().replace("\n", ". ")
                yield viv
            
        # request de la pàgina següent    
        seguent = response.xpath('//*[@id="main-content"]/section[1]/div/ul/li[8]/a/@href')
        if seguent:
            seguent_url = response.urljoin(seguent.get())
            request = scrapy.Request(url=seguent_url, )
            yield request

In [4]:
process = CrawlerProcess({
    'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)'
})

process.crawl(IdeaSpider)
process.start()

2021-07-17 20:43:07 [scrapy.utils.log] INFO: Scrapy 2.5.0 started (bot: scrapybot)
2021-07-17 20:43:07 [scrapy.utils.log] INFO: Versions: lxml 4.6.3.0, libxml2 2.9.4, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 21.2.0, Python 3.9.6 | packaged by conda-forge | (default, Jul 11 2021, 03:35:11) - [Clang 11.1.0 ], pyOpenSSL 20.0.1 (OpenSSL 1.1.1k  25 Mar 2021), cryptography 3.4.7, Platform macOS-11.4-arm64-arm-64bit
2021-07-17 20:43:07 [scrapy.utils.log] DEBUG: Using reactor: twisted.internet.selectreactor.SelectReactor
2021-07-17 20:43:07 [scrapy.crawler] INFO: Overridden settings:
{'CLOSESPIDER_PAGECOUNT': 3,
 'DOWNLOAD_DELAY': 15,
 'LOG_LEVEL': 30,
 'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)'}

In [31]:
dfviv = pd.read_json('../scrapy/venta_viviendas.json',)

In [33]:
dfviv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          900 non-null    object
 1   telf          900 non-null    object
 2   precio        900 non-null    int64
 3   precio_ant    139 non-null    float64
 4   nombre        900 non-null    object
 5   habitaciones  892 non-null    float64
 6   superficie    900 non-null    int64
 7   otros         862 non-null    object
 8   desc          900 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 63.4+ KB

In [35]:
dfviv.describe().round(1)

          precio  precio_ant  habitaciones  superficie
count      900.0       139.0         892.0       900.0
mean    738409.1    512592.1           3.3       134.9
std     690388.2    418420.7           1.3       105.1
min      99000.0    129000.0           1.0        28.0
25%     320000.0    257000.0           3.0        78.0
50%     550000.0    425000.0           3.0       109.0
75%     910000.0    647000.0           4.0       158.0
max    7450000.0   3500000.0          13.0      1800.0